@font-face {
    font-family: "Pacifico";
    src: url(../fonts/Pacifico-Regular.ttf);
  }
  @font-face {
    font-family: "Monserrat";
    font-weight: bold;
    src: url(../fonts/Montserrat-Regular.ttf);
  }
  @font-face {
    font-family: "Monserrat";
    src: url(../fonts/Montserrat-Bold.ttf);
  }
  *{
    box-sizing: border-box;
  }
  body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
  }
  
  /*---------------------------ESTILOS BASES-------------------------*/
  
  img{
    display: block;
    width: 100%;
    max-width: 100%;
  }
  
  h1, h2, h3, h4, h5, h6{
    margin: 0;
  }
  .container{
    width: 100%;
    margin: auto;
  }
  .container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .column{
    width: 100%;
  }
  
  /*--------------------------------ESTILOS DEL HEADER-----------------------------*/

  .main-header{
    width: 100%;
  }
  .logo{
    font-size: 1.8em;
    color: #DE423A;
    padding: 10px;
    font-family: 'Pacifico';
    font-weight: 100;
  }
.main-nav{
    width: 100%;
    position: relative;
    z-index: 2000;
    padding: 10px;
}
.icon-menu{
    display: block;
    color: white;

}
.menu{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,.85);
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}